* {
  box-sizing: border-box;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  margin-bottom: 20px;
}
  h1 {
	text-align: center;
}

.row {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.section {
  border:1px solid black;
  background-color: #C0C0C0;
  padding: 0px 0px 0px 10px;
  width: 90%
  margin-right: auto;
  margin-left: 10px;
}

p {
	clear: both;
}
.Chicken{
	position: relative;
	float: right;
	padding :5px 10px 5px 10px;
	border:1px solid black;
	margin: 0px 0px 5px 0px;
	width: 100px;
	text-align: center;
	background-color: #E9967A;
}

.Beef{
	position: relative;
	float: right;
	padding :5px 10px 5px 10px;
	border:1px solid black;
	margin: 0px 0px 5px 0px;
	width: 100px;
	text-align: center;
	background-color: #8B0000;
	color: white;
}
.Sushi{
	position: relative;
	float: right;
	padding :5px 10px 5px 10px;
	border:1px solid black;
	margin: 0px 0px 5px 0px;
	width: 100px;
	text-align: center;
	background-color: #FFD700;
}